body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{

}

.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{
    width: 80%;
    padding-left: 20px;
}

.link-open{
    text-decoration: none;
    background-image: linear-gradient(#c94b4b, #4b134f );
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;


}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experince-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 50px rgb(83, 83, 83);
}

.experince-banner{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#web-dev-experince{
    border-left: 7px solid;
    border-image: linear-gradient(#ff9966, #ff5e62);
    border-image-slice: 1;
}


#full-stack-exp{
    border-left: 7px solid;
    border-image: linear-gradient(#000000, #0f9b0f);
    border-image-slice: 1;
}


footer p{
    text-align: center;
}